:root {
	--page-background: ;
	--main-text: #1d1d1d;
	--main-link: #000000;
	--main-link-hover: #1d1d1d;
	--main-link-border: #e1e1e1;
	--main-link-border-hover: #1d1d1d;
	--navigation-button-border: #e4e4e4;
	--navigation-button-background: ;
	--navigation-button-border-hover: #000000;
	--navigation-button-background-hover: #000000;
	--navigation-text: #1d1d1d;
	--navigation-text-hover: #f0f0f0;
	--hr-article-break: #f0f0f0;
	--blockquote-border: #000000;
	--blockquote-background: ;
	--code-border: #e4e4e4;
	--code-background: #fafafa;
}

html {
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--main-text);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	margin: 0;
	font-size: 18px;
	background-color: var(page-background);
}

.site-header {
	margin-top: 1em;
	text-align: center;
}

.site-header a {
	text-decoration: none;
}

.site-header .profile_photo {
	border-radius: 100%;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0 0.2em;
	line-height: 2em;
	white-space: no-wrap;
}

nav a {
	border: 1px solid var(--navigation-button-border);
	background-color: var(--navigation-button-background);
	color: var(--navigation-text);
	border-radius: 1em;
	padding: 0.25em 0.5em;
}

nav a:hover {
	border-color: var(--navigation-button-border-hover);
	background-color: var(--navigation-button-background-hover);
	color: var(--navigation-text-hover);
}


.page-content p, .page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6, .page-content time, .page-content pre, .page-content blockquote {
	max-width: 670px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.page-content ul, .page-content ol, .page-content dl {
	max-width: 670px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 10px;
}

.page-content p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.page-content img {
	display: block;
	width: 100%;
	max-width: 700px;
	padding-left: 0;
	height: auto;
	margin: 0 auto;
}

a {
	color: var(--main-link);
	text-decoration: none;
	border-bottom: 2px solid var(--main-link-border);
}

a:hover {
	border-color: var(--main-link-border-hover);
	color: var(--main-link);
}

hr.article-break {
	width: auto;
	max-width: 100%;
	height: 1px;
	background-color: var(--hr-article-break);
	margin-top: 5em;
	margin-bottom: 5em;
	display: block;
	border: none;
}

time {
	display: block;
	opacity: 0.3;
}

time, a.post-date {
	text-transform: uppercase;
	font-weight: 700;
	border: none;
}

a.post-date {
	opacity: 0.3;
}

a.post-date:hover {
	opacity: 1;
}

h2.post-title {
	color: var(--main-link);
	margin-top: 0;
}

h2.post-title a {
	text-decoration: none;
	color: var(--main-link);
	border: none;
}

h2.post-title a:hover {
	border: none;
}

blockquote {
	border-left: 8px solid var(--blockquote-border);
	background-color: var(--blockquote-background);
	font-size: 0.95em;
}

p code, li code {
	background-color: var(--code-background);
	border: 1px solid var(--code-border);
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 0.85em;
	border-radius: 1em;
}


pre {
	background-color: var(--code-background);
	border-top: 1px solid var(--code-border);
	border-bottom: 1px solid var(--code-border);
	white-space: pre-wrap;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 0.95em;
}
