:root {
	--page-background: ;
	--main-text: #4d4d4d;
	--main-link: #333333;
	--main-link-hover: #000000;
	--main-link-border: #e1e1e1;
	--main-link-border-hover: #000000;
	--profile-border: #f0f0f0;
	--navigation-button-border: #e4e4e4;
	--navigation-button-background: ;
	--navigation-button-border-hover: #000000;
	--navigation-button-background-hover: #000000;
	--navigation-text: #8c8c8c;
	--navigation-text-hover: #f0f0f0;
	--heading-color: #000000;
	--button-border: #e4e4e4;
	--button-background: ;
	--button-border-hover: #000000;
	--button-background-hover: #000000;
	--button-text: #8c8c8c;
	--button-text-hover: #f0f0f0;
	--hr: #f0f0f0;
	--blockquote-border: #000000;
	--blockquote-background: ;
	--blockquote-text: #4d4d4d;
	--code-border: #e4e4e4;
	--code-background: #fafafa;
	--pre-border: #e4e4e4;
	--pre-background: ;
	--note: #FFF9C4;
	--alert: #FAD2D2;
	--aside: #F5F5F5;
	--callout: #DDEBF7;
	--footnotes: #8c8c8c;
	--footnote-super: #000000;
}

html {
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--main-text);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	margin: 0;
	font-size: 18px;
	background-color: var(page-background);
}

.site-header {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	padding: 0 20px;
}

.site-header a {
	text-decoration: none;
	border-bottom: none;
}

.site-header .profile_photo {
	border-radius: 100%;
	text-align: center;
	padding: 2px;
	border: 1px solid var(--profile-border);
	transition: transform 0.3s ease-in-out;
	width: 100px;
	height: auto;
}

.site-header .profile_photo:hover {
	transform: scale(1.5);
}

.site-header h1 {
	margin: 0;
}

.site-header nav ul {
	list-style-type: none;
	padding: 0;
}

.site-header nav ul li {
	display: inline;
	margin: 0 0.2em;
	line-height: 2em;
	white-space: no-wrap;
}

.site-header nav a {
	border: 1px solid var(--navigation-button-border);
	background-color: var(--navigation-button-background);
	color: var(--navigation-text);
	border-radius: 20px;
	padding: 0.5em 1em;
	font-size: 0.9em;
	font-weight: 500;
	transition: background-color 0.1s ease-in;
}

.site-header nav a:hover {
	border-color: var(--navigation-button-border-hover);
	background-color: var(--navigation-button-background-hover);
	color: var(--navigation-text-hover);
}


.page-content p, .page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6, .page-content time, .page-content pre, .page-content blockquote {
	max-width: 670px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.page-content ul, .page-content ol, .page-content dl {
	max-width: 650px;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 20px;
}

.page-content li {
	margin-top: 15px;
	margin-bottom: 15px;
}

.page-content p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.page-content img {
	display: block;
	width: 100%;
	max-width: 700px;
	padding-left: 0;
	height: auto;
	margin: 0 auto;
}

.page-content h1 {
	font-size: 2em;
}

.page-content h1.post-title {
	margin: 0 auto;
}

.page-content h1.post-title a {
	border: none;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
	margin-top: 1em;
	line-height: 1.3;
	color: var(--heading-color);
}

a {
	color: var(--main-link);
	text-decoration: none;
	border-bottom: 2px solid var(--main-link-border);
	transition: border-color 0.1s ease-in;
}

a:hover {
	border-color: var(--main-link-border-hover);
	color: var(--main-link);
}

.without-title p:first-of-type {
	margin-top: 0;
}

hr {
	margin-top: 3em;
	margin-bottom: 3em;
	background-color: var(--hr);
	border: none;
	width: 60%;
	max-width: 400px;
	height: 5px;
	border-radius: 1em;
}

hr.article-break {
	width: auto;
	max-width: 100%;
	height: 1px;
	background-color: var(--hr);
	margin-top: 3em;
	margin-bottom: 3em;
	display: block;
	border: none;
}

time {
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
}

a.post-date {
	opacity: 0.3;
	transition: opacity 0.1s ease-in;
}

a.post-date:hover {
	opacity: 1;
}

a.read-more {
	border: none;
}

.post {
	margin-bottom: 2em;
}

h2.post-title {
	color: var(--main-link);
	margin-top: 0;
}

h2.post-title a {
	text-decoration: none;
	color: var(--main-link);
	border: none;
}

h2.post-title a:hover {
	border: none;
}

blockquote {
	border-left: 8px solid var(--blockquote-border);
	background-color: var(--blockquote-background);
	color: var(--blockquote-text);
	font-size: 0.95em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.page-content blockquote p {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

blockquote cite {
	display: block;
	font-weight: bold;
	margin-top: 1em;
}

p.note, p.alert, p.aside, p.callout {
	padding-top: 10px;
	padding-bottom: 10px;
}

p.note {
	background-color: var(--note);
}

p.alert {
	background-color: var(--alert);
}

p.aside {
	background-color: var(--aside);
}

p.callout {
	background-color: var(--callout);
}

p code, li code {
	background-color: var(--code-background);
	border: 1px solid var(--code-border);
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 0.85em;
	border-radius: 1em;
}


pre {
	background-color: var(--pre-background);
	border-top: 1px solid var(--pre-border);
	border-bottom: 1px solid var(--pre-border);
	white-space: pre-wrap;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 0.95em;
}

.post-nav {
	text-align: center;
}

.post-nav a {
	border: none;
}

button, .conversation-on-mb {
	border: 1px solid var(--button-border);
	background-color: var(--button-background);
	color: var(--button-text);
	border-radius: 20px;
	padding: 0.5em 1em;
	font-size: 0.9em;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.1s ease-in;
}

button:hover, .conversation-on-mb:hover {
	border-color: var(--button-border-hover);
	background-color: var(--button-background-hover);
	color: var(--button-text-hover);
}

.footnotes {
	font-size: 0.85em;
	color: var(--footnotes);
}

a.footnote-ref {
	color: var(--footnote-super);
	border: none;
}

.footnotes a.footnote-backref {
	border: none;
}

ul.reply-buttons, ul.post-tags {
	list-style-type: none;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

ul.post-tags {
	opacity: 0.8;
	font-size: 0.8em;
	margin-bottom: 50px;
}

ul.post-tags:before {
	content: "Filed as: ";
	font-weight: bold;
}

ul.reply-buttons li, ul.post-tags li {
	display: inline;
	margin-right: 0.2em;
	line-height: 2em;
	white-space: no-wrap;
}


footer {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	opacity: 0.8;
	font-size: 0.8em;
	padding: 0 20px;
}
